.App {
  text-align: center;
}

.header {
  height: 100vh;
  background-color: #E0913B;
  color: #FFFFFF;
}

.main-color{
  color: #E0913B;
}
.main-bg{
  background-color: #E0913B;
}

.common-btn {
  width: 120px;
  padding: 5px;
  margin: 0px 10px;
  border: 1px solid #E0913B;
  border-radius: 2px;
  background-color: white;
  /* color: #E0913B; */
  font-size: large;
}

.line{
  color: black;
}

/* Registration And Log In page Style */
.btn-color{
  background-color: #E0913B;
  color: #FFFFFF;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.input-bg{
  background-color: #f8f2dd;
}